            
       <!-- Titulo de la pagina America -->
        <h1>America</h1>
        <h2>Paises que visitar</h2>
        <hr>


<!-- cuerpo con tarjetas de imagenes linkeadas a otras paginas -->
<div class="contenedorpadre">
      
      <!-- card 5 -->
      <div class="card container mt-3" style="width: 18rem; background-color: transparent;">
        <div class="col">
            <div class="card h-100" style="background-color: transparent;">
        <img src="/imagenes/paises/mexico.jpg" class="card-img-top" alt="mexico">
        <div class="card-body">
          <a href="#" class="btn btn-outline-info" style="font-weight: bold;"> Mexico</a>
          <p class="card-text">Recorrido por la peninsula de Yucatan.</p>
        </div>
    </div>
        </div>
      </div>

      <!-- card 6 -->
      <div class="card container mt-3" style="width: 18rem; background-color: transparent;">
        <div class="col">
            <div class="card h-100" style="background-color: transparent;">
        <img src="/imagenes/paises/panama.jpg" class="card-img-top" alt="panama">
        <div class="card-body">
          <a href="#" class="btn btn-outline-info" style="font-weight: bold;"> Panama</a>
          <p class="card-text">Conociendo el Canal de Panama</p>
        </div>
        </div>
        </div>
      </div>

      <!-- card 7 -->
      <div class="card container mt-3" style="width: 18rem; background-color: transparent;">
        <div class="col">
            <div class="card h-100" style="background-color: transparent;">
        <img src="/imagenes/paises/cuba.jpg" class="card-img-top" alt="cuba">
        <div class="card-body">
           <a href="#" class="btn btn-outline-info" style="font-weight: bold;"> Cuba</a>
          <p class="card-text">La vieja Habana y sus Cayos</p>
        </div>
        </div>
        </div>
      </div>

      <!-- card 8 -->
      <div class="card container mt-3" style="width: 18rem; background-color: transparent;">
        <div class="col">
            <div class="card h-100" style="background-color: transparent;">
        <img src="/imagenes/paises/chile.jpg" class="card-img-top" alt="chile">
        <div class="card-body">
           <a href="#" class="btn btn-outline-info" style="font-weight: bold;"> Chile</a>
          <p class="card-text">Recorriendo la Cordillera</p>
        </div>
        </div>
        </div>
      </div>

      <!-- card 9 -->
      <div class="card container mt-3" style="width: 18rem; background-color: transparent;">
        <div class="col">
            <div class="card h-100" style="background-color: transparent;">
        <img src="/imagenes/paises/argentina.jpg" class="card-img-top" alt="argentina">
        <div class="card-body">
           <a href="#" class="btn btn-outline-info" style="font-weight: bold;"> Argentina</a>
          <p class="card-text">De norte a sur, disfrutando un pais increible</p>
        </div>
        </div>
        </div>
      </div>

       <!-- card 10 -->
       <div class="card container mt-3" style="width: 18rem; background-color: transparent;">
        <div class="col">
            <div class="card h-100" style="background-color: transparent;">
        <img src="/imagenes/paises/peru.jpg" class="card-img-top" alt="peru">
        <div class="card-body">
       <a href="#" class="btn btn-outline-info" style="font-weight: bold;"> Peru</a>
          <p class="card-text">Descubriendo la mejor gastronomia del mundo</p>
        </div>
        </div>
        </div>
      </div>

       <!-- card 11 -->
       <div class="card container mt-3" style="width: 18rem; background-color: transparent;">
        <div class="col">
            <div class="card h-100" style="background-color: transparent;">
        <img src="/imagenes/paises/brasil.jpg" class="card-img-top" alt="brasil">
        <div class="card-body">
          <a href="#" class="btn btn-outline-info" style="font-weight: bold;">Brasil</a>
          <p class="card-text">Descubriendo Brasil</p>
        </div>
        </div>
        </div>
      </div>

    <!-- card 12-->
    <div class="card container mt-3" style="width: 18rem; background-color: transparent;">
      <div class="col">
          <div class="card h-100" style="background-color: transparent;">
            <img src="/imagenes/paises/colombia.jpeg" class="card-img-top" alt="brasil">
            <div class="card-body">
            <a href="#" class="btn btn-outline-info" style="font-weight: bold;">Colombia</a>
          <p class="card-text">Que hacer en Colombia?</p>
            </div>
        </div>
        </div>
    </div>
       
</div>

