
            
            <!-- Titulo de la pagina Asia -->
        <h1>Asia</h1>
        <h2>Paises que visitar</h2>
        <hr>


<div class="contenedorpadre">
      
    <!-- card 1 -->
    <div class="card container mt-3" style="width: 18rem; background-color: transparent;">
        <div class="col">
            <div class="card h-100" style="background-color: transparent;">
        <img src="/imagenes/paises/japon.png" class="card-img-top" alt="japon">
        <div class="card-body">
          <a href="/japon.hbs" class="btn btn-outline-info" style="font-weight: bold;"> Japon</a>
          <p class="card-text">Que ver en 3 dias por Japon.</p>
        </div>
    </div>
    </div>
      </div>

    <!-- card 2 -->
    <div class="card container mt-3" style="width: 18rem; background-color: transparent;">
      <div class="col">
          <div class="card h-100" style="background-color: transparent;">
        <img src="/imagenes/paises/tailandia.jpeg" class="card-img-top" alt="tailandia">
        <div class="card-body">
          <a href="#" class="btn btn-outline-info" style="font-weight: bold;"> Tailandia</a>
          <p class="card-text">21 dias por Tailandia.</p>
        </div>
        </div>
        </div>
      </div>
    

      <!-- card 3 -->    
      <div class="card container mt-3" style="width: 18rem; background-color: transparent;">
        <div class="col">
            <div class="card h-100" style="background-color: transparent;">
            <img src="/imagenes/paises/malasia.jpg" class="card-img-top" alt="malasia">
            <div class="card-body">
            <a href="#" class="btn btn-outline-info" style="font-weight: bold;">Malasia</a>
          <p class="card-text">Escape fugaz por Malasia.</p>
            </div>
                </div>
            </div>
        </div>

      <!-- card 4 -->   
      <div class="card container mt-3" style="width: 18rem; background-color: transparent;">
        <div class="col">
            <div class="card h-100" style="background-color: transparent;">
        <img src="/imagenes/paises/camboya.jpg" class="card-img-top" alt="camboya">
        <div class="card-body">
          <a href="#" class="btn btn-outline-info" style="font-weight: bold;"> Camboya</a>
          <p class="card-text">Un pais por descubrir.</p>
        </div>    
        </div>
    </div>
      </div>
</div>
