
       <!-- Titulo de la pagina Europa -->
        <h1>Japon</h1>
        <hr>

<img src="/imagenes/paises/japon.png" class="img-fluid" alt="japon" id="japon">
<br>
<br>
<nav id="pagina-japon">
<p>En este punto quiero recomendarte las actividades turisticas mas conocidas. Tene en cuenta que dependiendo del horario en el 
que llegues, considerando el cansancio del viaje y el cambio horario va a depender si tu primer dia tenes tiempo y ganas de recorrer 
lugares nuevos o no. </p>
<p> Llegue a Tokyo por la tarde noche lo cual no me dejaba mucho tiempo para recorrer, aproveche que el cambio horario me tenia 
totalmente despierta y decidi salir a recorrer pese a que era de noche cuando logre terminar mi check in.</p>
<p>Hay muchas actividades que son recommendable hacer por el dia ya que los lugares se encuentran abiertos y puedes disfrutar de paseos gastronomicos,
 tiendas y ver mayor cantidad de gente llevando a cabo su vida normal que en definitiva cuando viajamos es lo que deseamos, ver los lugares de 
 la manera mas tipica y natural.</p>
<p>En mi caso como les mencionaba, recorri el edificio del Gobierno Metropolitano de Tokio por la noche ya que se encontraba cerca de mi hotel y fue una experiencia
 incredible. Tambien recorri el templo Senso Ji de noche, si bien no disfrute de los puestos tipicos que suelen estar abiertos durante el dia,
  pude hacer un recorrido diferente, explore el area, tome fotos increibles y sin lugar a duda estaba casi vacio el lugar lo que me sirvio 
  muchisimo para relajarme y no estar en el tumulto de gente que suele haber en un destino tan turistico como este.</p>

<p>Voy a darte un listado de los principales lugares a recorrer pero <bold>no te quedes con esto </bold>y siempre revisa nuevas oportunidades, sitios, museos, atracciones 
que se ajusten a tus gustos y experiencias que desees vivir.</p>

<p>No incluyo el Monte Fuji ya que es una actividad que sin duda require reserva y planificacion previa, y es muy dificil 
de hacer en un recorrido de 3 dias por la ciudad, no obstante yo lo realice en mi visita de 3 noches y 4 dias por Tokyo. 
Sin duda fue magnifico pero agotador, no dejandome tiempo para recorrer muchos de los lugares que te enumero a continuacion 
ya que consume un dia entero comenzando desde las 5 am hasta las 21pm que regrese a mi hotel.</p>
<h2>Empecemos!</h2>
<br>

<h3>El cruce de Shibuya</h3>
<p>Tanto el Narita Express como la línea de metro Yamanote le acercarán a uno de los lugares más famosos, visitados y fotografiados de Tokio: el cruce de Shibuya (Google ya lo considera el Times Square de Tokio).
Shibuya es extraordinario. Es el lugar donde la gente de Tokio va a tomar algo después de trabajar, donde empezó la increíble historia del perro más fiel Hachiko,  y también donde la gente se para ante la luz roja y, en el momento en que cambia a verde, donde el flujo de la muchedumbre es imparable.
Tras su visita, puedes ir uno de los parques más grandes y conocidos de Tokio – el parque Ueno.</p>
<br>

<h3>Parque y Zoo de Ueno</h3>
<p>Es precisamente aquí donde encontrará unas de las vistas más espectaculares de los cerezos en flor (generalmente entre la última semana de marzo y la primera de abril). 
Justo al lado del parque de Ueno se encuentra el famoso Zoo de Ueno, donde tanto niños como adultos pueden disfrutar viendo más de 2.600 animales, incluyendo: pandas gigantes, pandas rojos, pelícanos, lemures, lobos, leones, tigres y muchos otros.</p>
<br>

<h3>Mercado y lonja de pescado de Tsukiji</h3>
<p>Es hora de descubrir la singularidad del mercado de pescado más grande y famoso del mundo – el mercado de pescado de Tsukiji.
La lonja trata con más de 2.000 toneladas de productos marinos a diario. Antes de abrir, cada mañana entre las 5:25 y las 6:10, se permite el acceso gratuito a turistas al increíble espectáculo que es la subasta de pescado – una de las experiencias japonesas más auténticas. Para asegurarse de que tiene acceso le recomendamos llegar alrededor de las 3 de la mañana puesto que sólo 120 personas podrán acceder.</p>
<br>

<h3>Zona comercial de Ginza y Jardines Hamarikyu</h3>
<p>Muy próxima a Tsukiji se encuentra el distrito de Ginza. Atrae a mucha gente por sus tiendas y restaurantes limpios, organizados y diversos.
Si necesita tomar un descanso después de la larga mañana en las calles llenas de gente y tiendas, diríjase a los Jardines de Hamarikyu a respirar un poco de aire fresco. Puede que no sean los más conocidos pero seguro serán una grata experiencia tras un día ajetreado.
Rodeada de contrucciones altas se encuentra esta pequeña obra de la naturaleza, en medio de la jungla de asfalto que es Tokio. Los jardines le hipnotizarán con su casita de té, ubicada en una isla en uno de los lagos. Los visitantes pueden tomar su té con tranquilidad mientras disfrutan de la experiencia cultural japonesa.</p>
<br>

<h3>Asakusa y templo Senso Ji</h3>
<p>Ubicado en Asakusa, uno de los distritos de Tokio, se encuentra el templo más famoso y bonito de la zona: el templo Senso-ji. Construido en el siglo VII, representa uno de los templos más antiguos y populares de todo Japón. Sin embargo, sepa que la mayor parte del edificio actual es una reconstrucción de después de la guerra, cuyos bombardeos destruyeron gran parte de la ciudad.
Actualmente la mayor parte de la zona se ha reconstruido y ha ganado de nuevo su popularridad entre locales y visitantes. Le llevará alrededor de 2 horas dar una vuelta y verlo todo.
No se ciegue con la cantidad interminable de tiendas de souvenir típicas de la calle principar y adéntrese en las pequeñas calles de la zona. Se sorprenderá al descubrir los sastres de kimonos tradicionales, talleres de confección de carteras, entre otras peculiaridades. Nada de este barrio es típico, por lo que asegúrese de alejarse de las calles principales.
Tras conocer mejor Asakusa y disfrutar de las diversas experiencias culturales, cruce el río y diríjase al Asahi Beer Hall, donde podrá tomar una cerveza fresca en la azotea.</p>
<br>

<h3>Harajuku, Templo Meiji y Parque Yoyogi</h3>
<p>Tokio es una ciudad de contrastes, lo que verá muy claro si se acerca a la zona de Harajuku, ubicada justo al lado de la estación de Harajuku. Ver de cerca lo antiguo y lo moderno de los distritos de Tokio le contará la historia de cómo ha cambiado Japón con el paso de los años.
Si baja la Takeshita dori (dori significa calle) descubrirá la joven y dinámica cultura de las compras y la moda japonesas. Mire hacia donde mire encontrará tiendas de gama alta, pequeñas joyerías, calles amplias y diversas… Todo en uno: la combinación perfecta de comida, compras y cultura.
Lo único que podría echar de menos en esta combinación es algo de naturaleza, ¡nada de lo que deba preocuparse! La entrada al Santuario Meiji está justo al lado de la estación Harajuku.
El santuario está dedicado a los primeros emperadores del Japón moderno (el Emperador Meiji y la Emperatriz Shoken) y fue uno de los lugares espirituales más damnificados durante la Segunda Guerra Mundial, pero fue rápidamente reconstruido poco después.
Está ubicado a una corta distancia a pie del parque Yoyogi, el lugar favorito de muchas personas por sus amplios campos verdes llenos de serenidad y por la oportunidad que ofrecen de sentarse, tomar un picnic y relajarse con la familia.</p>
<br>

<h3>Ayuntamiento de Tokio</h3>
<p>Como broche final le recomendamos ver Tokio desde las alturas. Las espectaculares vistas desde distintas alturas y a diferentes horas del día pueden cambiar por completo su percepción de la ciudad.
Visitar el edificio del Gobierno Metropolitano de Tokio en el distrito de Shinjuku le da la posibilidad de ver la ciudad entera desde 202 metros de altitud, dirigiéndose al punto de observación localizado en la planta 45.</p>


<h4>Si quieres mas recomendaciones o lugares para descubrir en Tokyo no dudes en dejarme tus datos en la pagina de 
        
        <a href="/contacto.hbs" class="" style="font-weight: bold;"> Contacto</a>
         y sin problema me ponder nos pondremos a trabajar para ayudarte a armar el circuito que major se adapte a tu viaje!</h4>
</nav>