            
      <!-- Titulo de la pagina Oceania -->
        <h1>Oceania</h1>
        <h2>Paises que visitar</h2>
        <hr>
        <h3>Hasta ahora no tuve oportunidad de recorrer este continente. Espero que este año podamos hacerlo!</h3>
        


