
<!-- Titulo para arrojar cuando funciona sin la base de datos conectada -->
        <h1>Gracias por visitar nuestro Blog!</h1>
        <hr>
        <h3>Esta pagina esta funcionando sin conexion a la Base de Datos</h3>
        

